2017_taxes.pkl filter=lfs diff=lfs merge=lfs -text
2018_fin_rep.pkl filter=lfs diff=lfs merge=lfs -text
2018_people.pkl filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.pkl
git[[:space:]]lfs[[:space:]]track[[:space:]]*.pkl filter=lfs diff=lfs merge=lfs -text
